@use "_base.scss"as *;

#message {
    display: inline-block;
    width: 20%;
}

.square {
    background: $color-square;
    margin: 1.66%;
    border-radius: 15%;
}

.selected {
    background-color: $color-selected;
}

h1 {
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    color: $color-white;
    background: $color-selected;
    margin: 0;
    text-transform: uppercase;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: $color-selected;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background: $color-selected;
}