@use "_base.scss"as *;

#colorDisplay {
    font-size: 200%;
}

#stripe {
    background: $color-white;
    height: 30px;
    width: 100%;
    text-align: center;
    color: black;
}

#container {
    padding-top: 40px;
    margin: 20px auto;
    max-width: 600px;
    min-height: 390px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}